@tailwind base;
@tailwind utilities;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* body::before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  background: url('../src/img/grain.png');
  max-height: 100%;
  width: 100%;
  opacity: 7%;
  pointer-events: none;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
}

@layer base {
  .btnCommon {
    @apply flex rounded-full px-5 py-3 font-semibold lg:py-4 lg:px-7;
  }
}
