@tailwind base;
@tailwind utilities;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
}

@layer base {
  body {
    @apply bg-slate-100 dark:bg-slate-900;
  }
  input[type='checkbox']:checked {
    @apply h-4 w-4 bg-blue-500 transition;
  }
  input[type='checkbox']:checked:after {
    content: url('../public/input-checkbox-check.svg');
    @apply flex h-4 w-4 items-center justify-center;
  }
}
